ol :hover
{ 
    transform: scale(2.60); /*  change the size after hovering */
    background-color: thistle;
    border-color: thistle;
}
ol, footer
{
    text-align: center;
}
li
{
    transition: 1.0s; /*  animation for li  */
    width: auto;
    border: solid ghostwhite;
    display:inline-block;
    padding: 10px;
    margin-left: 55px; 
    margin-right: 55px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: ghostwhite;
    transform: scale(2.07);
    border-radius: 20%;
    box-shadow: 3px 3px gray;
}
 li a
{
    text-decoration: none;
}
a:hover
{
    color: cadetblue;
}
a:focus
{
    color: green;
}
html
{
    background-image:url("/11.jpg") ;
    background-repeat: no-repeat;
}
div
{
    margin-top: 3%;
    border: 2px solid thistle;
    border-radius: 20px;
    box-shadow: 5px 5px gray; 
}
footer
{
    margin-top: 500px;
}